@model MyBudget.Models.MonthlyPlannerViewModel
@using MyBudget.Models
@using System.Linq
@{
    /**/

    ViewBag.Title = "View Planner";
}
@{
    ApplicationDbContext db = new ApplicationDbContext();
    var items = db.SubCategories.ToList();
    if (items != null)
    {
        ViewBag.SubCategories1 = items.Where(x => x.ParentCategoryId == 1);
        ViewBag.SubCategories2 = items.Where(x => x.ParentCategoryId == 2);
        ViewBag.SubCategories3 = items.Where(x => x.ParentCategoryId == 3);
        ViewBag.SubCategories4 = items.Where(x => x.ParentCategoryId == 4);
    }
}
<style>
    
    .datepicker {
        z-index: 99999 !important; /* has to be larger than 1050 */
    }

    .btn, .dropdown-menu {
        font-size: 13px !important;
    }

    table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
        padding: 5px;
        font-size: 13px;
    }

    .table td, .table th {
        font-size: 13px;
    }
</style>
<link href="/Content/metronic/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
@Html.HiddenFor(x => x.planId)
<div class="modal fade" id="investModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Investments</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "InvestmentDetails", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("SubCategoryId", new SelectList(ViewBag.SubCategories4, "SubCategoryId", "Name"))
                                @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ActualAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ActualAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.CreditDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CreditDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreditDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-md-2 control-label">Credit Date</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.EditorFor(model => model.DebitDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.DebitDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ForMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(x => x.ForMonth, "Month", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ForMonth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FinancialYear, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FinancialYear, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Create" class="btn btn-success" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Income</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "IncomeDetails", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("SubCategoryId", new SelectList(ViewBag.SubCategories1, "SubCategoryId", "Name"))
                                @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ActualAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ActualAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.CreditDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CreditDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreditDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-md-2 control-label">Credit Date</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.EditorFor(model => model.CreditDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.CreditDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ForMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(x => x.ForMonth, "Month", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ForMonth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FinancialYear, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FinancialYear, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Create" class="btn btn-success" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="expModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Expense</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "ExpenseDetails", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("SubCategoryId", new SelectList(ViewBag.SubCategories2, "SubCategoryId", "Name"))
                                @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ActualAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ActualAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.CreditDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CreditDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreditDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-md-2 control-label">Credit Date</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.EditorFor(model => model.DebitDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.DebitDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ForMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(x => x.ForMonth, "Month", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ForMonth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FinancialYear, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FinancialYear, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Create" class="btn btn-success" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="savingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Expense</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "SavingsDetails", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("SubCategoryId", new SelectList(ViewBag.SubCategories3, "SubCategoryId", "Name"))
                                @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ActualAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ActualAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.CreditDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CreditDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreditDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-md-2 control-label">Credit Date</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ForMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(x => x.ForMonth, "Month", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ForMonth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FinancialYear, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FinancialYear, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Create" class="btn btn-success" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">
    @Model.ForMonth - @Model.FinancialYear
    <small>Monthly Planner</small>
</h1>

<div class="row">
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-credit-card font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Income Details</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" data-toggle="modal" data-target="#incomeModal" href="javascript:;">
                        <i class="icon-plus"></i>
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover table-light" id="incomeTable">
                    <thead>
                        <tr>
                            @*<th></th>*@
                            <th>
                                Sub-Category
                            </th>
                            <th>
                                Expected
                            </th>
                            <th>
                                Actual
                            </th>
                            @*<th></th>
                                <th></th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model._MonthlyList.Where(x => x.CategoryId == 1))
                        {

                            <tr>
                                @*<td></td>*@
                                <td class="subCategoryId">@item.SubCategoryName</td>
                                <td> &#x20B9 @item.ExpectedAmount</td>
                                <td class="actualAmount"> &#x20B9 @item.ActualAmount</td>
                                @*<td class="month">@item.ForMonth</td>*@
                                @*<td></td>
                                    <td></td>*@
                                <td class="actions">
                                    <button  style="padding:0"  class="btn btn-link" data-toggle="modal" data-bind="@item.IncomeId" data-target="#incomeModal2-@item.IncomeId">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <a href="#"  style="padding:0"  class="btn btn-link on-default remove-row"><i class="fa fa-trash-o"></i></a>

                                    @Html.HiddenFor(x => item.planId)
                                </td>
                                @Html.Partial("_EditIncome", @item)
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="bg-grey-salt bg-font-grey-salt">Total</th>
                            <th class="bg-purple-soft bg-font-purple-soft"></th>
                            <th class="bg-red-sunglo bg-font-red-sunglo"></th>
                            <th class="bg-grey-salt bg-font-grey-salt"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-credit-card font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Savings Details</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" data-toggle="modal" data-target="#savingsModal" href="javascript:;">
                        <i class="icon-plus"></i>
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <table id="savingsTable" class="table table-hover table-light">
                    <thead>
                        <tr>

                            <th>
                                Sub-Category
                            </th>
                            <th>
                                Expected
                            </th>
                            <th>
                                Actual
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model._MonthlyList.Where(x => x.CategoryId == 3))
                        {
                            <tr>

                                <td>@item.SubCategoryName</td>
                                <td> &#x20B9 @item.ExpectedAmount</td>
                                <td> &#x20B9 @item.ActualAmount</td>

                                <td class="actions">
                                    @*<a href="@Url.Action("Edit", "SavingsDetails", new { id = @item.SavingsId })"><i class="fa fa-pencil"></i></a>*@
                                    <button class="btn btn-link"  style="padding:0"  data-toggle="modal" data-bind="@item.SavingsId" data-target="#savingsModal2-@item.SavingsId">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <a href="#"  style="padding:0"  class="btn btn-link on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                                @Html.HiddenFor(x => item.planId)
                            </tr>
                            @Html.Partial("_EditSavings", @item)
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="bg-grey-salt bg-font-grey-salt">Total</th>
                            <th class="bg-purple-soft bg-font-purple-soft"></th>
                            <th class="bg-red-sunglo bg-font-red-sunglo"></th>
                            <th class="bg-grey-salt bg-font-grey-salt"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-credit-card font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Investment Details</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" data-toggle="modal" data-target="#investModal" href="javascript:;">
                        <i class="icon-plus"></i>
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <table id="investTable"  class="table table-hover table-light">
                    <thead>
                        <tr>

                            <th>
                                Sub-Category
                            </th>
                            <th>
                                Expected
                            </th>
                            <th>
                                Actual
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model._MonthlyList.Where(x => x.CategoryId == 4))
                        {
                            <tr>

                                <td>@item.SubCategoryName</td>
                                <td> &#x20B9 @item.ExpectedAmount</td>
                                <td> &#x20B9 @item.ActualAmount</td>

                                <td class="actions">
                                    @*<a href="@Url.Action("Edit", "InvestmentDetails", new { id = @item.InvestmentId })"><i class="fa fa-pencil"></i></a>*@

                                    <button class="btn btn-link"  style="padding:0"  data-toggle="modal" data-bind="@item.InvestmentId" data-target="#investModal2-@item.InvestmentId">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <a href="#"  style="padding:0"  class="btn btn-link on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            @Html.HiddenFor(x => item.planId)
                            @Html.Partial("_EditInvestment", @item)
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            <th class="bg-grey-salt bg-font-grey-salt">Total</th>
                            <th class="bg-purple-soft bg-font-purple-soft"></th>
                            <th class="bg-red-sunglo bg-font-red-sunglo"></th>
                            <th class="bg-grey-salt bg-font-grey-salt"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-credit-card font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Expense Details</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" data-toggle="modal" data-target="#expModal" href="javascript:;">
                        <i class="icon-plus"></i>
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <table id="expenseTable" class="table table-hover table-light">
                    <thead>
                        <tr>
                            @*<th>
                                    Category
                                </th>*@
                            <th>
                                Sub-Category
                            </th>
                            <th>
                                Expected
                            </th>
                            <th>
                                Actual
                            </th>
                            @*<th>
                                    Month
                                </th>
                                <th>
                                    Financial Year
                                </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model._MonthlyList.Where(x => x.CategoryId == 2))
                        {
                            <tr>
                                @*<td>@item.CategoryName</td>*@
                                <td>@item.SubCategoryName</td>
                                <td> &#x20B9 @item.ExpectedAmount</td>
                                <td> &#x20B9 @item.ActualAmount</td>
                                @*<td>@item.ForMonth</td>
                <td>@item.FinancialYear</td>*@
                                <td class="actions">
                                    @*<a href="@Url.Action("Edit", "ExpenseDetails", new { id = @item.ExpenseId })"><i class="fa fa-pencil"></i></a>*@
                                    <button class="btn btn-link" style="padding:0" data-toggle="modal" data-bind="@item.ExpenseId" data-target="#expModal2-@item.ExpenseId">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <a href="#"  style="padding:0" class="btn btn-link on-default remove-row"><i class="fa fa-trash-o"></i></a>

                                </td>
                            </tr>
                            @Html.HiddenFor(x => item.planId)
                            @Html.Partial("_EditExpense", @item)
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="bg-grey-salt bg-font-grey-salt">Total</th>
                            <th class="bg-purple-soft bg-font-purple-soft"></th>
                            <th class="bg-red-sunglo bg-font-red-sunglo"></th>
                            <th class="bg-grey-salt bg-font-grey-salt"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-credit-card font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Loan/EMI Details</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" data-toggle="modal" data-target="#investModal" href="javascript:;">
                        <i class="icon-plus"></i>
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <table id="loanTable" class="table table-hover table-light">
                    <thead>
                        <tr>

                            <th>
                                Sub-Category
                            </th>
                            <th>
                                Expected
                            </th>
                            <th>
                                Actual
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model._MonthlyList.Where(x => x.CategoryId == 5))
                        {
                            <tr>

                                <td>@item.SubCategoryName</td>
                                <td> &#x20B9 @item.ExpectedAmount</td>
                                <td> &#x20B9 @item.ActualAmount</td>

                                <td class="actions">
                                    @*<a href="@Url.Action("Edit", "InvestmentDetails", new { id = @item.InvestmentId })"><i class="fa fa-pencil"></i></a>*@

                                    <button class="btn btn-link" style="padding:0" data-toggle="modal" data-bind="@item.InvestmentId" data-target="#investModal2-@item.InvestmentId">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <a href="#" style="padding:0" class="btn btn-link on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            @Html.HiddenFor(x => item.planId)
                            @Html.Partial("_EditInvestment", @item)
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            <th class="bg-grey-salt bg-font-grey-salt">Total</th>
                            <th class="bg-purple-soft bg-font-purple-soft"></th>
                            <th class="bg-red-sunglo bg-font-red-sunglo"></th>
                            <th class="bg-grey-salt bg-font-grey-salt"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>